{% extends 'blog/base.html' %}

{% block title %}{% if form.instance.pk %}Edit{% else %}Create{% endif %} Post{% endblock %}

{% block content %}
    <div class="card mb-4 shadow-sm">
        <div class="card-body">
            <h1>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Post</h1>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save</button>
            </form>
            <a href="{% url 'home' %}" class="btn btn-secondary mt-3">Back to Home</a>
        </div>
    </div>
    <script src="//cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('id_content');
    </script>
{% endblock %}
